<mat-toolbar color="accent">Campus.xyz</mat-toolbar>
  <form 
  style="display: flex;
  align-items: center;
  justify-content: top;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto ;"

  [formGroup]="form"
  >
  <mat-label style="font-size: large; font-style: oblique;">Log In</mat-label>

  <mat-form-field appearance="fill">
    <mat-label>Enter Email</mat-label>
    <input type="text" matInput placeholder="Email" 
    required="" formControlName="email" #email/>
    <mat-error>Email is Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label> New Password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" 
    required="" formControlName = "password" #password/>
    <mat-error>Password is required</mat-error>

  </mat-form-field>


    <button mat-raised-button color="accent" (click)="click(email.value, password.value)" >Submit</button>
    <router-outlet>
      <p>
        <a routerLink="/signup">Don't have an account?</a>
      </p>
    </router-outlet>

  </form>

